{% extends 'base.html' %}
{% block title %} A Game {% endblock %}
{% block content %}
<p>
    <div class="border">
    <form action="/madlib">
        Input or select...<br>
        <div class="questions">
        Person: 
        <select name="person">
            <option value="Angelina Jolie">Angelina Jolie
            <option value="Your Mom">your mom
            <option value="Balloonicorn">Balloonicorn
            <option value="Strange man in a grumpy cat costume">a strange man in a grumpy cat costume
        </select><br>
        Color: <input type="text" name="color"><br>
        Noun: <input type="text" name="noun"><br>
        Adjective: <input type="text" name="adjective"><br>
        Animal: <input type="text" name="animal"><br>
        Weapon:<br>
            <input type="checkbox" name="weapons" value="enchanted brass knuckles">enchanted brass knuckles<br>
            <input type="checkbox" name="weapons" value="squirtle milk">squirtle milk<br>
            <input type="checkbox" name="weapons" value="bloodstained nunchuks">bloodstained nunchuks<br>
        </div>
        <input type="submit">
    </form>
    </div>
</p>
{% endblock %}