{% extends 'base.html' %}
{% block title %} Madlib! {% endblock %}
{% block content %}
        <h2>THIS IS MADNESS</h2>
        <div class="border">
        <p class="story">
        There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
        When {{ person }} went to pick it up, it burst into flames in a totally
        {{ adjective }} way.
        Suddenly, a {{ animal }} leaps from the flames and attacks you with:
        {% if weapons|length > 1 %}
            {{ ",".join(weapons[:-1]) }} and {{ weapons[-1] }}.
        {% else %}
            {{ weapons[0] }}.
        {% endif %}
        </p></div>
{% endblock %}
