<!doctype html>
<html>
<head>
  <title>Madlib</title>
</head>
    <body>

        <h1>THIS IS MADNESS</h1>
        <p>
        There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
        When {{ person }} went to pick it up, it burst into flames in a totally
        {{ adjective }} way.
        Suddenly, a {{ animal }} leaps from the flames and attacks you with:
        {% for i, weapon in enumerate(weapons) %}
            {{ weapons[i] }}
            <!-- {% if len(weapons) == 1}
                {{ weapon }}.
            {% if len(weapons) == 2}
                {{ weapon }} and {{ weapon }} -->
        </p>
    </body>
</html>
